# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
!dist/MP4_to_MP3_Converter.exe
*.egg-info/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Virtual environments
venv/
.venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Audio/Video output
*.mp3
*.wav
*.mp4
output.*

# FFmpeg binaries and docs
ffmpeg-master-latest-win64-gpl-shared/
ffmpeg-master-latest-win64-gpl-shared.zip
